fastapi==0.115.6
uvicorn[standard]==0.34.0
python-dotenv==1.0.1
pydantic==2.10.4
pydantic-settings==2.7.1
python-multipart==0.0.20
langchain-core==0.3.86
langchain-text-splitters==0.3.11
langchain-groq==0.2.4
langchain-openai==0.3.35
langchain-huggingface==0.1.2
langchain==0.3.30
chromadb==0.5.23
sentence-transformers==3.3.1
pypdf==5.1.0
pytest==8.3.4
ragas==0.2.8
datasets==3.2.0
